*,
*::before,
*::after {
  box-sizing: border-box;
}

/*tags*/
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 25px;
    padding-bottom: 45px;
    background-color: rgb(63, 125, 144);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

/*Header Elements*/

#high-scores-link,
#back-to-quiz {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#high-scores-link:hover,
#back-to-quiz:hover {
   color: rgba(72, 72, 72, 0.75);
}

#countdown {
    float: right;
    color: white;
    font-size: 20px;
}

/*Header Elements*/

main {
    padding: 0;
    margin: 0;
    margin-top: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 40px;
    margin: 30px;
    text-align: center;
    width: 600px;
    max-width: 50%;
    background-color: rgb(227, 235, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.btn,
#submit-button {
    background-color: rgb(177, 78, 110);
    color: white;
    font-size: 16px;
    border:none;
    border-radius: 6px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
}

.btn:hover {
    background-color:  rgb(183, 131, 147)
}

#right-wrong {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color:rgb(158, 173, 179);
}

/*Starting Form*/

.paragraph-text {
    padding: 30px;
}

/*Question Form*/

#buttons {
    display: grid;
    gap: 5px;
}

#question-element {
    padding-bottom: 20px;
}

/*End Form*/

#user-score {
    padding-top: 20px;
    padding-bottom: 20px;
}

#user-input,
#end-nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

#user-initials {
    width: 180px;
    height: 20px;
}


.hide {
   display: none;
}

.gone {
    display: none;
}

/* Highscores */

.high-score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

#high-score-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    color: black;
}

#high-scores-list {
    justify-content: center;
    align-items: center;
    color: black;
    padding-top: 10px;
}

li {
    display: box;
    padding: 5px;
}

